{% extends "base.html" %}
{% load staticfiles%}
{% block javascript %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script>
    var course_totals = '/course-totals/' 
    var current_totals = '/current-totals/'
    var regional_totals = '/regional-totals/'

    var default_data = []
    var lables = []

    $.ajax({
      method: 'GET',
      url: course_totals,
      success: function(data){
        labels = data.labels
        default_data = data.values
        setCourceTotalsChart()
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

    $.ajax({
      method: 'GET',
      url: current_totals,
      success: function(data){
        labels = data.labels
        default_data = data.values
        setCurrentTotalsChart()
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

    $.ajax({
      method: 'GET',
      url: regional_totals,
      success: function(data){
        labels = data.labels
        default_data = data.values
        setRegionalTotalsChart()
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

    function setCourceTotalsChart(){
        var chrt = document.getElementById("course_totals_canvas").getContext("2d");

        var data = {
            labels: labels, //x-axis
            datasets: [
                {
                  label: "Total Enrolment", //optional
                  fillColor: "rgba(46,138,138,0.8)",
                  strokeColor: "rgba(46,138,138,1)",
                  highlightFill: "rgba(220,220,220,0.75)",
                  highlightStroke: "rgba(220,220,220,1)",
                  data: default_data
              }
            ]
        };
        var myChart = new Chart(chrt).Line(data);
    }
    function setCurrentTotalsChart(){
        var chrt = document.getElementById("current_totals_canvas").getContext("2d");

        var data = {
            labels: labels, //x-axis
            datasets: [
                {
                  label: "Total Enrolment", //optional
                  fillColor: "rgba(214, 138, 138, 0.8)",
                  strokeColor: "rgba(214, 138, 138, 1)",
                  highlightFill: "rgba(220,220,220,0.75)",
                  highlightStroke: "rgba(220,220,220,1)",
                  data: default_data
              }
            ]
        };
        var myChart = new Chart(chrt).Line(data);
    }
    function setRegionalTotalsChart(){
        var chrt = document.getElementById("regional_totals_canvas").getContext("2d");

        var data = {
            labels: labels, //x-axis
            datasets: [
                {
                  label: "Total Enrolment", //optional
                  fillColor: "rgba(110, 141, 193, 0.8)",
                  strokeColor: "rgba(110, 141, 193, 1)",
                  highlightFill: "rgba(220,220,220,0.75)",
                  highlightStroke: "rgba(220,220,220,1)",
                  data: default_data
              }
            ]
        };
        var myChart = new Chart(chrt).Bar(data);
    }
</script>

{% endblock %}
<style>

{% block style %}
  
{% endblock %}

</style>



{% block content%}

{% if user.is_mazintech_employee %}

<div class="alert alert-danger alert-dismissable">
  <a href="{% url 'logout' %}" class="close" data-dismiss="alert" aria-label="close">×</a>
  <i class="fa fa-exclamation-triangle"></i> <b>Your user profile does not have enough permisions to view this section of the system. Please contact the administrator !!!</b>
</div>

{% else %}


{% endif %}
    <div class="panel panel-primary transparency">
        <div class="panel-heading"> 
        <b>Dashboard:</b>
        </div>
      
        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>Regional Enrolment Totals</h3>
                <canvas id="regional_totals_canvas" width="1700" height="300"></canvas>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3>Total Enrolment By Course</h3>
                <canvas id="course_totals_canvas" width="800" height="400"></canvas>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3>Current Enrolment By Course</h3>
                <canvas id="current_totals_canvas" width="800" height="400"></canvas>
            </div>
        </div>
    </div>
    
{% endblock %}