{% load el_pagination_tags %}
<script type="text/javascript">
  delete_course = function(id, row_id){
    $("<div><h4>Are you sure you want to delete this course record?</h4></div>").dialog({
        buttons: {
          Yes: function(){

            $.ajax({
            context: row_id,
            type: 'post',
            url: "{% url 'college:delete_course' %}",
            data: {id: id},
            dataType: 'json',
            success:  function(response){
                        if(response.success)
                        {
                          $("<div />").dialog({
                            title: 'Delete Course',
                            open: function(){
                              markup = '<h4>Course record deleted successfully</h4>';
                              $(this).html(markup);
                            },
                            buttons: {
                            Ok: function () {
                                  $(this).dialog("close");
                                }
                            }
                          });
                          $(row_id).remove();
                        }
                        else
                        {
                          $("<div />").dialog({
                            title: 'Delete Failure',
                            open: function(){
                              markup = '<h4>A problem occurred while deleting the course record</h4>';
                              $(this).html(markup);
                            },
                            buttons: {
                            Ok: function () {
                                  $(this).dialog("close");
                                }
                            }
                          });
                        }
                      }
            });
              $(this).dialog("close");
          },
          Cancel: function(){

            $(this).dialog("close");

          }
        }
    });
  }
  </script>
<table id="" class="table table-hover ">
  <tr>
    <th>Course Name</th>
    <th>Current Enrolment</th>
    <th>Total Enrolment</th>
    <th>Edit</th>
    <th>Del</th>
  </tr>

  {% paginate all_courses %}
  {% for course in all_courses %}

  <tr id=row_{{course.id}}>    
    <td>{{ course.course_name|default_if_none:"" }}</td> 
    <td>{{ course.current_enrolment|default_if_none:"" }}</td>
    <td>{{ course.total_enrolment|default_if_none:"" }}</td>
    <td>
     <a href="{% url 'college:edit_course' course.id %}" data-toggle="" data-toggle="tooltip" data-placement="right" title="Edit Course">
        <i class="far fa-edit"></i></i></a>
    </td>
    <td>
      <a  href="" onclick="delete_course({{course.id}}, row_{{course.id}});return false;"data-toggle="" data-toggle="tooltip" data-placement="right" title="Delete Course"><i class="far fa-trash-alt"></i></a>
      </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan='13' style="text-align: center">
    <div class="center">
      <div class="pagination">
        {% show_pages %}
      </div>
    </div>
    </td>
  </tr>
</table>