{% load el_pagination_tags %}
<script type="text/javascript">
  delete_policy_comment = function(id, row_id){
    $("<div><h4>Are you sure you want to delete this student enrolment record?</h4></div>").dialog({
        buttons: {
          Yes: function(){

            $.ajax({
            context: row_id,
            type: 'post',
            url: "{% url 'college:delete_enrolment' %}",
            data: {id: id},
            dataType: 'json',
            success:  function(response){
                        if(response.success)
                        {
                          $("<div />").dialog({
                            title: 'Delete Student Enrolment',
                            open: function(){
                              markup = '<h4>Student enrolment record deleted successfully</h4>';
                              $(this).html(markup);
                            },
                            buttons: {
                            Ok: function () {
                                  $(this).dialog("close");
                                }
                            }
                          });
                          $(row_id).remove();
                        }
                        else
                        {
                          $("<div />").dialog({
                            title: 'Delete Failure',
                            open: function(){
                              markup = '<h4>A problem occurred while deleting the student enrolment record</h4>';
                              $(this).html(markup);
                            },
                            buttons: {
                            Ok: function () {
                                  $(this).dialog("close");
                                }
                            }
                          });
                        }
                      }
            });
              $(this).dialog("close");
          },
          Cancel: function(){

            $(this).dialog("close");

          }
        }
    });
  }
  </script>
<table id="" class="table table-hover ">
  <tr>
    <th>First Name</th>
    <th>Surname</th>
    <th>Course</th>
    <th>Year</th>
    <th>Date Signed</th>
    <th>Date Captured</th>
    <th>Edit</th>
    <th>Del</th>
  </tr>

  {% paginate all_students %}
  {% for student in all_students %}

  <tr id=row_{{student.id}}>
    <td>{{ student.student.first_name|default_if_none:"" }}</td> 
    <td>{{ student.student.surname|default_if_none:"" }}</td>
    <td>{{ student.course|default_if_none:"" }}</td>
    <td>{{ student.enrolment_year|default_if_none:"" }}</td>
    <td>{{ student.application_signed|date:'Y-m-d'|default_if_none:"" }}</td>
    <td>{{ student.created_at|default_if_none:"" }}</td>
    <td>
      <a href="{% url 'college:edit_enrolment' student.id %}" data-toggle="" data-toggle="tooltip" data-placement="right" title="Edit Student Enrolment">
        <i class="far fa-check-square"></i></a>
    </td>
    <td>
      <a href="" onclick="delete_policy_comment({{student.id}}, row_{{student.id}});return false;"  data-toggle="" data-toggle="tooltip" data-placement="right" title="Delete Student Enrolment">
        <i class="far fa-trash-alt"></i></a>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan='13' style="text-align: center">
    <div class="center">
      <div class="pagination">
        {% show_pages %}
      </div>
    </div>
    </td>
  </tr>
</table>