{% load el_pagination_tags %}
<script type="text/javascript">
  delete_policy_comment = function(id, row_id){
    $("<div><h4>Are you sure you want to delete this student record?</h4></div>").dialog({
        buttons: {
          Yes: function(){

            $.ajax({
            context: row_id,
            type: 'post',
            url: "{% url 'college:delete_student' %}",
            data: {id: id},
            dataType: 'json',
            success:  function(response){
                        if(response.success)
                        {
                          $("<div />").dialog({
                            title: 'Delete Student',
                            open: function(){
                              markup = '<h4>Student record deleted successfully</h4>';
                              $(this).html(markup);
                            },
                            buttons: {
                            Ok: function () {
                                  $(this).dialog("close");
                                }
                            }
                          });
                          $(row_id).remove();
                        }
                        else
                        {
                          $("<div />").dialog({
                            title: 'Delete Failure',
                            open: function(){
                              markup = '<h4>A problem occurred while deleting the student record</h4>';
                              $(this).html(markup);
                            },
                            buttons: {
                            Ok: function () {
                                  $(this).dialog("close");
                                }
                            }
                          });
                        }
                      }
            });
              $(this).dialog("close");
          },
          Cancel: function(){

            $(this).dialog("close");

          }
        }
    });
  }
  </script>
<table id="" class="table table-hover ">
  <tr>
    <th>First Name</th>
    <th>Surname</th> 
    <th>Gender</th>
    <th>DOB</th>
    <th>ID Number</th>
    <th>Course</th>
    <th>Year</th>
    <th>Region</th>
    <th>District</th>
    <th>Edit</th>
    <th>Enrole</th>
    <th>Del</th>
  </tr>

  {% paginate all_students %}
  {% for student in all_students %}

  <tr id=row_{{student.id}}>    
    <td>{{ student.first_name|default_if_none:"" }}</td> 
    <td>{{ student.surname|default_if_none:"" }}</td>
    <td>{{ student.get_gender_display }}</td>
    <td>{{ student.date_of_birth|date:'Y-m-d'|default_if_none:"" }}
    <td>{% if student.id_number %}
          {{ student.id_number|default_if_none:"" }}
        {% else %}
          {{ student.passport|default_if_none:"" }}
        {% endif %}
    </td>
    <td>{{ student.course|default_if_none:"" }}</td>
    <td>{{ student.course_year|default_if_none:"" }}</td>
    <td>{{ student.region|default_if_none:"" }}</td>
    <td>{{ student.district|default_if_none:"" }}</td>
    <td>
      <a href="{% url 'college:edit_student' student.id %}" data-toggle="" data-toggle="tooltip" data-placement="right" title="Edit Student">
        <i class="far fa-edit"></i></i></a>
    </td>
    <td>
      <a href="{% url 'college:add_enrolment' student.id %}" data-toggle="" data-toggle="tooltip" data-placement="right" title="Edit Student Enrolment">
        <i class="far fa-check-square"></i></a>
      </td>
    <td>
      <a href="" onclick="delete_policy_comment({{student.id}}, row_{{student.id}});return false;" data-toggle="" data-toggle="tooltip" data-placement="right" title="Edit Student">
      <i class="far fa-trash-alt"></i></a>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan='13' style="text-align: center">
    <div class="center">
      <div class="pagination">
        {% show_pages %}
      </div>
    </div>
    </td>
  </tr>
</table>