{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load humanize %}
{% block javascript %}
  <script src="{% static 'js/students.js' %}"></script>
{% endblock %}

{% block content%}

<div class="panel panel-primary transparency">
  <div class="panel-heading">
    {% if student %}
    <b>Edit Students:</b>
    {% else %}
    <b>Add Student:</b>
    {% endif %}
  </div>
  
  <div class="panel-body">
    
    <form method="POST" class="form-2" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      
      <div id="edit_student_tab_content" class="tab-content">
        <div class="tab-pane fade active in" id="details">
          <br>
          <div class='col-md-6'>
            {% bootstrap_field student_form.first_name %}
            {% bootstrap_field student_form.surname %}
            {% bootstrap_field student_form.date_of_birth %}
            {% bootstrap_field student_form.id_number %}
            {% bootstrap_field student_form.passport_number %}
            {% bootstrap_field student_form.gender %}
          </div>
          <div class='col-md-6'>
            {% bootstrap_field student_form.region %}
            {% bootstrap_field student_form.district %}
             
            {% bootstrap_field student_file_form.document %}
            {% bootstrap_field student_document_form.document_type %}
            <div style="max-height: 230px; overflow: auto;">
              <table id="student_documents_table" class="table table-hover">
                <thead>
                  <th>Created At</th>
                  <th>Document</th>
                </thead>
                <tbody>
                  {% for document in student_documents %}
                  <tr>
                    <td>{{document.created_at }}</td>
                    <td>
                      {% if document.document.document %}
                      <a href="{{ document.document.document.url }}"
                         data-toggle=""
                         data-toggle="tooltip"
                         data-placement="bottom"
                         title="Description: {{document.document.description }}">
                       {{ document.document.document_name }}</a>
                      {% endif %}
                    </td>
                    {% empty %}
                  <tr><td class="info" colspan="20">No Documents Added Yet</td></tr>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div><br>
          </div>
          </div>
      </div>

      <div class="btn-group-horizontal col-lg-12">
        <div class='pull-right'>
          <button type="submit" class="btn btn-primary">
            <i class='fa fa-floppy-o'></i> Save
          </button>
          <a href="{% url 'college:students' %}" class="btn btn-primary">
            <i class='fa fa-undo'></i> Cancel
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
