{% extends "base.html" %}
{% load staticfiles%}
{% load bootstrap4 %}
{% load humanize %}
{% block javascript %}
  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block content%}

<div class="panel panel-primary transparency">
  <div class="panel-heading">
    <b>Students List</b>
    
  </div> 
  <div class="panel-body">

    <form id="student_usage_filter_form" method="GET">
    
    <div class="row">
        <input name="filter" type="hidden">
        
        <div class='col-lg-3 pull-right'>
          <div class='pull-right'>
            <button type="submit" name="search" class="btn btn-primary" title="Search"><i class="fa fa-search"></i> Search</button>
            
            <a href="{% url 'college:students' %}"  class="btn btn-primary" title="Clear Search"><i class="fa fa-search-minus"></i> Clear</a>
            
            <button type="submit" id="load_modal" class="btn btn-primary" title="Extract Students"><i class="fa fa-download"></i> Extract</button>
            <a href="{% url 'college:add_student' %}" class="btn btn-primary" title="Add New Student"><i class="fa fa-plus"></i> Add New</a> 
          </div>
        </div>
        
      <div class='col-lg-9'>
        <div class='col-lg-3'>
          {% bootstrap_field student_filter_form.student_name layout='inline' %}
        </div>
        <div class='col-lg-3'>
          {% bootstrap_field student_filter_form.student_surname layout='inline' %}
        </div>
        <div class='col-lg-3'>
          {% bootstrap_field student_filter_form.date_from layout='inline' %}
        </div>
         <div class='col-lg-3'>
          {% bootstrap_field student_filter_form.date_to layout='inline' %}
        </div>
        <div class='col-lg-3'>
          {% bootstrap_field student_filter_form.id_number layout='inline' %}
        </div>
        <div class='col-lg-3'>
          {% bootstrap_field student_filter_form.course layout='inline' %}
        </div>
        <div class='col-lg-3'>
          {% bootstrap_field student_filter_form.enrolment_year layout='inline' %}
        </div>
        <div class='col-lg-3'>
        </div>
      </div> 
    </div>
    
    <div class="tab-content">
      <div id="student" class="tab-pane fade in active">
        {% include 'college/_students_list.html' %}

      </div>
    </div>

    <div class="modal fade" id="extract_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel"><i class="fa fa-info-circle" aria-hidden="true"></i> Extract Student(s)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <b> Are you sure you want to download the extract</b>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" name="extract" id="extract" class="btn btn-primary">Ok</button>
            </div>
          </div>
        </div>     
    </div>
  </form>
  </div>
</div>
{% endblock %}