{% load staticfiles %}


<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">  

<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">     

<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">

<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

<link href="{% static 'css/all.css' %}" rel="stylesheet">

<link href="{% static 'css/bootstrap-submenu.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"> 

<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/nprogress.css' %}" rel="stylesheet"> -->
<!-- <link href="{% static 'css/custom.min.css' %}" rel="stylesheet"> -->
<link href="{% static 'css/base.css' %}" rel="stylesheet"> 

<link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet"> 

<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

<link href="{% static 'css/morris.css' %}" rel="stylesheet"> 

<link href="{% static 'css/vehicle_panel.css' %}" rel="stylesheet">
<link href="{% static 'css/vehicle.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />

<link href="{% static 'css/panel.css' %}" rel="stylesheet">

<link href="{% static 'css/bootstrap-multiselect.css' %}" rel="stylesheet">




