{% load staticfiles%}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class=" row col-sm-12 col-sm-offset-0">
    <div class="navbar-header">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" style="height:50px; cursor:pointer">
        </a>
    </div>
    <div class=" collapse navbar-collapse navbar-font" id="navbar">
        <ul class="nav navbar-nav">
          {% if not request.user.is_mazintech_employee %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle panel_field" href="#" id="FleetNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    College <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="FleetNavbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'college:students' %}"><i class="fa fa-list-ol" aria-hidden="true"></i>&nbsp;&nbsp;Students</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'college:courses' %}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;Courses</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'college:enrolments' %}"><i class="fas fa-file-invoice" aria-hidden="true"></i>&nbsp;&nbsp;Enrolment</a>
                    </li>
                </ul>
            </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'view_downloads' %}">Downloads</a></li>
            {% endif %}

            {% if request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users' %}">Users</a></li>
            {% endif %}

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="#">Welcome {{ request.user }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          </ul>
    </div>
  </div>
</nav>
